In [30]:
import pandas as pd

data = [[1, '2015-01-01', 10], [2, '2015-01-02', 25], [3, '2015-01-03', 20], [4, '2015-01-04', 30]]
weather = pd.DataFrame(data, columns=['id', 'recordDate', 'temperature']).astype({'id':'Int64', 'recordDate':'datetime64[ns]', 'temperature':'Int64'})

weather

   id recordDate  temperature
0   1 2015-01-01           10
1   2 2015-01-02           25
2   3 2015-01-03           20
3   4 2015-01-04           30

In [31]:
weather['prev_date'] = weather['recordDate'].shift(1)
weather['prev_temp'] = weather['temperature'].shift(1)

weather

   id recordDate  temperature  prev_date  prev_temp
0   1 2015-01-01           10        NaT       <NA>
1   2 2015-01-02           25 2015-01-01         10
2   3 2015-01-03           20 2015-01-02         25
3   4 2015-01-04           30 2015-01-03         20

In [33]:
mask = (weather['temperature'] > weather['prev_temp']) & \
        (weather['recordDate'] - weather['prev_date'] == pd.Timedelta(days=1))

result = weather.loc[mask, ['id']]
result

   id
1   2
3   4